---
- name: Add PGDG RPM GPG key
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/rpm_keys/PGDG-RPM-GPG-KEY-RHEL"
    dest: /etc/pki/rpm-gpg/PGDG-RPM-GPG-KEY-RHEL
    mode: "0644"
    owner: root
    group: root

- name: Add PGDG Common Repo
  ansible.builtin.yum_repository:
    name: pgdg-common
    description: PostgreSQL common RPMs for RHEL / Rocky / AlmaLinux $releasever - $basearch
    baseurl: https://download.postgresql.org/pub/repos/yum/common/redhat/rhel-$releasever-$basearch
    enabled: 1
    repo_gpgcheck: 1
    gpgkey: file:///etc/pki/rpm-gpg/PGDG-RPM-GPG-KEY-RHEL

- name: Add PGDG 17 Repo
  ansible.builtin.yum_repository:
    name: pgdg17
    description: PostgreSQL 17 for RHEL / Rocky / AlmaLinux $releasever - $basearch
    baseurl: https://download.postgresql.org/pub/repos/yum/17/redhat/rhel-$releasever-$basearch
    enabled: 1
    repo_gpgcheck: 1
    gpgkey: file:///etc/pki/rpm-gpg/PGDG-RPM-GPG-KEY-RHEL

- name: Install PG 17 client and server
  ansible.builtin.package:
    name:
      - postgresql17
      - postgresql17-server

- name: Create PG 17 database files
  ansible.builtin.command:
    argv:
      - /usr/pgsql-17/bin/postgresql-17-setup
      - initdb
    creates: /var/lib/pgsql/17/data/pg_*

- name: Enable and start database
  ansible.builtin.systemd_service:
    name: postgresql-17
    enabled: true
    state: started
