- name: Install rspamd cert
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/rpm_keys/rspamd.asc"
    dest: /etc/pki/rpm-gpg/rspamd.asc
    mode: "0644"
    owner: root
    group: root

- name: Install rspamd repo
  ansible.builtin.yum_repository:
    name: rspamd
    description: Rspamd stable repository
    baseurl: http://rspamd.com/rpm-stable/centos-{{ ansible_facts["distribution_major_version"] }}/$basearch
    enabled: true
    gpgcheck: true
    gpgkey: file:///etc/pki/rpm-gpg/rspamd.asc

- name: Install mail packages
  ansible.builtin.package:
    name:
      - postfix
      - postfix-pgsql
      - dovecot
      - dovecot-pgsql
      - dovecot-pigeonhole
      - cyrus-sasl-lib
      - cyrus-sasl-plain
      - rspamd

- name: Add mail ports to firewall
  loop:
    - http
    - smtp
    - smtps
    - imaps
  ansible.posix.firewalld:
    service: "{{ item }}"
    state: enabled
    permanent: true
    immediate: true
    offline: true

- name: Create vmail group
  ansible.builtin.group:
    name: vmail
    gid: 1500

- name: Create vmail user
  ansible.builtin.user:
    name: vmail
    comment: Virtual Mail
    uid: 1500
    group: vmail
    createhome: false
    shell: /sbin/nologin
    password: '!'
    local: true

- name: Create vmail directories
  loop:
    - path: /var/vmail
      owner: root
      group: root
      mode: "0755"
    - path: /var/vmail/wastegate.net
      owner: vmail
      group: vmail
      mode: "0700"
  ansible.builtin.file:
    state: directory
    path: "{{ item.path }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"

- name: Create rspamd.conf
  ansible.builtin.copy:
    src: ../templates/{{ item.src }}
    dest: /etc/rspamd/{{ item.dest }}
    mode: "0644"
    owner: root
    group: root
  loop:
    - src: dkim_signing.conf
      dest: local.d/dkim_signing.conf
    - src: antivirus.conf
      dest: local.d/antivirus.conf
    - src: milter_headers.conf
      dest: override.d/milter_headers.conf
  notify:
    - Restart rspamd

- name: Add rspamd to virusgroup
  ansible.builtin.user:
    name: _rspamd
    append: true
    groups: virusgroup
  notify:
    - Restart rspamd

- name: Create postfix configuration
  ansible.builtin.copy:
    src: ../templates/main.cf
    dest: /etc/postfix/main.cf
    mode: "0644"
    owner: root
    group: root
  notify:
    - Restart postfix

- name: Create sieve dir
  ansible.builtin.file:
    path: /etc/dovecot/after-sieve
    state: directory
    mode: "0755"
    owner: root
    group: root

- name: Create junk sieve
  register: sieve_file
  notify:
    - Compile dovecot sieve
    - Restart dovecot
  ansible.builtin.copy:
    dest: /etc/dovecot/after-sieve/junk.sieve
    mode: "0644"
    owner: root
    group: root
    content: |
      require ["fileinto"];

      if header :contains "X-Spam" "Yes" {
        fileinto "Junk";
        stop;
      }

- name: Create dovecot.conf
  ansible.builtin.copy:
    src: ../templates/{{ item.src }}
    dest: /etc/dovecot/{{ item.dest }}
    mode: "0644"
    owner: root
    group: root
  loop:
    - src: 90-sieve.conf
      dest: conf.d/90-sieve.conf
  notify:
    - Restart dovecot

- name: Enable rspamd
  ansible.builtin.systemd_service:
    name: rspamd
    state: started
    enabled: true

- name: Enable postfix
  ansible.builtin.systemd_service:
    name: postfix
    state: started
    enabled: true

- name: Enable dovecot
  ansible.builtin.systemd_service:
    name: dovecot
    state: started
    enabled: true
