---
- name: Common configuration
  hosts: all
  become: true
  tags:
    - common
  roles:
    - common

- name: BHyVe
  hosts: bhyve
  tags:
    - bhyve
  roles:
    - bhyve

- name: Postfix configuration
  hosts: mail
  tags:
    - mail
  roles:
    - epel
    - database
    - certbot
    - mail
