---
- name: Install python3.12
  ansible.builtin.package:
    name:
      - python3.12

- name: Create certbot folder
  ansible.builtin.file:
    state: directory
    path: /opt/certbot
    owner: root
    group: root
    mode: "0755"

- name: Create virtualenv
  ansible.builtin.pip:
    name:
      - pip
      - setuptools
    extra_args: -U
    virtualenv: /opt/certbot
    virtualenv_command: python3.12 -m venv

- name: Install certbot
  ansible.builtin.pip:
    name:
      - certbot
      - certbot-dns-easydns
    executable: /opt/certbot/bin/pip3

- name: Link certbot to /usr/bin
  ansible.builtin.file:
    state: link
    path: /usr/bin/certbot
    src: /opt/certbot/bin/certbot

- name: Install cron for certbot
  ansible.builtin.cron:
    name: certbot
    user: root
    minute: 0
    hour: 0,12
    dom: "*"
    month: "*"
    dow: "*"
    job: /opt/certbot/bin/python -c 'import random; import time; time.sleep(random.random() * 3600)' && certbot renew -q
